.sidebar {
  width: 60px;
  background-color: #25244b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.icon {
  font-size: 24px;
  margin: 15px 0;
  color: white;
  cursor: pointer;
}

.icon:hover {
  color: #f39c12;
}
